@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ownglyph_PDH";
  src: url("../fonts/Ownglyph_PDH.ttf");
}

@font-face {
  font-family: "Ownglyph_ryurue";
  src: url("../fonts/Ownglyph_ryurue.ttf");
}

@font-face {
  font-family: "Moneygraphy";
  src: url("../fonts/Moneygraphy.ttf");
}

@font-face {
  font-family: "PretendardVariable";
  src: url("../fonts/PretendardVariable.ttf");
}

@font-face {
  font-family: "Y_spotlight";
  src: url("../fonts/Y_spotlight.ttf");
}

@media (min-width: 375px) {
  .App {
    width: 375px;
  }
}

@media (max-width: 500px) {
  .App {
    width: 100vw;
  }
}

#root {
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
}

.App {
  min-height: 100vh;
  background-color: #fff6ec;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Ownglyph_PDH";
}

::-webkit-scrollbar {
  display: none;
}