@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ownglyph_PDH";
  src: url("./fonts/Ownglyph_PDH.ttf");
}

@font-face {
  font-family: "Ownglyph_ryurue";
  src: url("./fonts/Ownglyph_ryurue.ttf");
}

@font-face {
  font-family: "Moneygraphy";
  src: url("./fonts/Moneygraphy.ttf");
}
